{{- if .Param "authorbox" }}
{{- if (eq .Section "posts") }}
<div class="authorbox clearfix">
  {{- with .Site.Author.image }}
  <figure class="authorbox__image">
    <img alt="{{ $.Site.Author.name }} image" src="{{ $.Site.Author.image | relURL }}" class="image" height="90" width="90">
  </figure>
  {{- end }}
  {{- with .Site.Author.name }}
  <div class="authorbox__header">
    <span class="authorbox__name">{{ . }}</span>
  </div>
  {{- end }}
  {{- with .Site.Author.bio }}
  <div class="authorbox__description">
    {{ . | markdownify }}
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}
